@page
@using CodeMechanic.Diagnostics
@model nugsnet6.Pages.CarCapital.Inventory.Index
@{
    
    // ViewBag.Title = "Out-of-Band Swaps";
    // ViewBag.Previous = "13_ClientsideTemplates";
    // ViewBag.Home = true;
    var car_search = Model.Search_Results.Dump("current search");
    var total_cars = Model.AllCarInventory.Dump("all cars in model").Count;
}

<link href="@Url.Content("~/css/carcapitalcorpcard.css")" rel="stylesheet" type="text/css"/>




<div class="card m-5 p-5 ms-0 text-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <div class="navbar-nav ml-auto">
                <!-- will be replaced by HTMX Out-of-band swaps -->
                <a id="cartNavbar" class="nav-link ms-10" aria-current="page" href="#">
                    <i class="fa fa-shopping-cart"></i>
                    Cart
                    <span class="badge bg-secondary">@Model.TotalItemsInCart</span>
                </a>
            </div>
        </div>
    </nav>
    
    @await Html.PartialAsync("_ShoppingItem")
</div>

<section x-data='setup()'>
    <form hx-post hx-page="Index" hx-page-handler="Validate" hx-swap="outerHTML"
          class="form-horizontal needs-validation" _="on htmx:beforeSend set #submitButton.disabled to 'disabled'">
        <div class="mb-3">
            <label class="form-label" asp-for="@car_search.Name"></label>
            <input type="text" class="form-control" asp-for="@car_search.Name">
            <div class="invalid-feedback">
                <span asp-validation-for="@car_search.Name"></span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="@car_search.Cost"></label>
            <input type="text" class="form-control" asp-for="@car_search.Cost">
            <div class="invalid-feedback">
                <span asp-validation-for="@car_search.Cost"></span>
            </div>
        </div>

        <div :class="grid_class">

            <template x-for="[key, value] of Object.entries(options)">
                <div class="mb-3">
                    <label class="form-label" :for="key"></label>
                    <span x-text="key">This is for debugging only and can be omitted</span>
                    <input type="checkbox" class="form-control toggle toggle-accent" :for="key">
                </div>
            </template>
        </div>

        <div class="control">
            <button id="submitButton" type="submit" class="btn btn-primary">
                <span class="htmx-indicator">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="visually-hidden">Loading...</span>
                </span>
                Submit
            </button>

            @Html.AntiForgeryToken()
        </div>

    </form>

    <h3>@total_cars Cars on lot</h3>

</section>

<script>
    const categories = [
        'Chinese', 'Faith', 'Catholicism', 'Letters', 'French', 'Proverbs'
    ]

    function setup() {
        return {
            title: "Teachings",
            selected_category: "Chinese",
            categories: categories,
            options: {
                sort_by_make: true,
                sort_by_model: true,
                sort_by_cost: true,
                sort_by_name: false,
            },
            get grid_class() {
                let cols = this.options ? this.options.length : 2;
                return `grid grid-cols-${cols}`;
            }
        }
    }
</script>


@* *@
@* @section end { *@
@* *@
@* } *@
@* *@
@* @section head { *@
@*     <style>          *@
@*         .top { *@
@*             padding: 18px; *@
@*             background-color: #ff8900; *@
@*             border-top-left-radius: 5px; *@
@*             border-top-right-radius: 5px; *@
@*             color: #fff *@
@*         } *@
@*          *@
@*         .middle { *@
@*             height: 350px; *@
@*             display: flex; *@
@*             justify-content: center; *@
@*             align-items: center; *@
@*             flex-direction: column !important; *@
@*             padding: 10px *@
@*         } *@
@*          *@
@*         .bottom { *@
@*             background: #eee; *@
@*             padding: 30px 10px 10px; *@
@*         } *@
@*          *@
@*         .add { *@
@*             height: 38px; *@
@*             border-radius: 4px; *@
@*             margin-left: 40px; *@
@*             padding-right: 22px; *@
@*             padding-left: 20px *@
@*         } *@
@*          *@
@*         .form-control:focus { *@
@*             color: #495057; *@
@*             background-color: #fff; *@
@*             border-color: #8bbafe; *@
@*             outline: 0; *@
@*             box-shadow: none *@
@*         } *@
@*         /* styling from https://bbbootstrap.com/snippets/bootstrap-grocery-product-card-plus-minus-icons-12859362 */ *@
@*     </style> *@
@* } *@