@using nugsnet6.Extensions
@model IndexModel
@{
    var tabnames = Model.Tabs
        .Select(name => new
        {
            Title = name.CapitalizedWords(),
            Name = name
        })
        // .Dump("names")
        ;
}

<div id="tabbed-content">
    <div class="tabs tabs-boxed">
        @foreach (var item in tabnames)
        {
            <a
                hx-get="@Url.Page("Index", new { tab = item.Name })"
                href="#"
                class="tab nav-link  text-2xl @Model.IsSelectedCss(item.Name, " active")"
                aria-current="@Model.IsSelectedCss(item.Name, " page")"
                hx-target="#tabbed-content">

                @item.Title

            </a>
        }
    </div>

    <div class="tab-content">
        <div class="tab-pane show active p-1 mt-3" role="tabpanel">
            <h2>@Model.Tab.ToHumanCase()</h2>
            <hr>

            <partial name="@Model.Tab"/>

        </div>
    </div>
</div>