@using nugsnet6.Extensions
@using StringExtensions = nugsnet6.Extensions.StringExtensions
@model nugsnet6.Pages.PrivateSales.IndexModel
@{
    var tabnames = Model.Views;
}

<div id="tabbed-content">
    <div class="tabs tabs-boxed">
        @foreach (var tab in tabnames)
        {
            <a
                hx-get="@Url.Page("Index", new { tab })"
                href="#"
                class="tab nav-link @Model.IsSelectedCss(tab, " active")"
                aria-current="@Model.IsSelectedCss(tab, " page")"
                hx-target="#tabbed-content">

                @StringExtensions.ToCamelCase2(tab, spaced: true)

            </a>
        }
    </div>

    <div class="tab-content">
        <div class="tab-pane show active p-1 mt-3" role="tabpanel">
            <h2>@Model.Tab.ToHumanCase()</h2>
            <hr>

            <partial name="@Model.Tab"/>
            
        </div>
    </div>
</div>