@using CodeMechanic.Types
@model nugsnet6.Pages.Builder.BuilderTable

@{
    var parts = Model.Parts
        .OrderByDescending(part => part.Cost)
        .ThenByDescending(part => part.ComboCost);
}

<table class="border-2 border-info">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Cost</th>
        <th>Shop</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var part in parts)
    {
        <tr hx-params="*">
            <td class="form-control">
                <input type="checkbox" class="toggle toggle-info">
            </td>
            <td class="lg:w-max md:w-96 w-32">
                @part.Name
            </td>
            <td>
                $@part.Cost
            </td>

            <td>
                @if (@part.Url.NotEmpty())
                {
                    <a href="@part.Url" target="_blank">
                        <button class="btn btn-info">View</button>
                    </a>
                }
            </td>

            <td>
                <button
                    hx-get="@Url.Page("Index", "Clip", new { @part.Url,  UpdatePart = @part, CSS_Selector = "trash" })"
                    hx-indicator="#spinner"
                    class="btn btn-info">

                    <span class="spinner-border htmx-indicator" id="spinner" role="status"></span>

                    Clip

                </button>
            </td>

            @if (@part.ImageUrl.NotEmpty())
            {
                <td>
                    <img src="@part.ImageUrl" alt="@part.Name">
                </td>
            }
        </tr>
    }
    </tbody>
</table>