@using CodeMechanic.Types
@model nugsnet6.Pages.Components.HydroCard

<div class="card bg-base-100 shadow-xl">
    <figure>
        @Model.Slot("image")
    </figure>

    <div class="card-body">
        @if (@Model.Title.NotEmpty())
        {
            <h2 class="card-title">
                @Model.Title
            </h2>
        }
        <div class="">@Model.Slot()</div>
        <div class="card-actions justify-end">
            @Model.Slot("actions")
        </div>
    </div>
</div>